body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

div {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #3498db;
}

p {
    color: #333;
}

img {
    width: 20%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

a {
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

form {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="submit"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

hr {
    border: 0.5px solid #ddd;
    margin-top: 20px;
}
